.jumbotron {
  background-color: azure;
  text-align: center;
}
.card-page ,.card-img-top{
  flex: 1 150px;
  padding: 2px 10px 2px 10px;
  justify-content: space-between;
  text-align: justify;
  width: 100%;
  height: 50%;
  
}
.btn-info {
  width: 100%;
}
footer {
  background-color: azure;
  padding: 10px 10px 0 50px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.titulo_lista {
  font-size: 20px;
  font-weight: bold;
}
.texto_banner {
  font-size: 50px;
  color: white;
  position: absolute;
  padding: 10px 10px 0 50px;
}
.footer-address-icon {
  padding-right: 10px;
}
.img-fluid{
  width: 100%;
}
.carousel-item {
  width: 100%;
  height: 500px;
}
